@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("cswiki") {

.wiki-content p, .commentblock p {
  width: 800px;
}

h1, h2, h3, h4, h5 {
  background-color: #f0f0f0 !important;
}

h1 {
  width: 100% !important;
  font-size: 24px !important;
  padding-left: 0px !important;
  border-bottom: 2px solid !important;
}

h2 {
  width: 98% !important;
  font-size: 18px !important;
  padding-left: 2px !important;
  border-bottom: 1px solid !important;
}

h3 {
  width: 96% !important;
  font-size: 14px !important;
  padding-left: 4px !important;
}

h4 {
  width: 94% !important;
  font-size: 12px !important;
  padding-left: 6px !important;
}

h5 {
  width: 92% !important;
  font-size: 10px !important;
  padding-left: 8px !important;
}

.pagebody {
  width: 800px;
}

.code {
  width: 800px;
}

#PageContent {
  width: 900px;
  margin: auto !important;
}

#PageContent > table> tbody > tr+ tr > td > table > tbody > tr > td > a > img {
  display : none;
}

body {
  background-color: #00003F !important;
}

#poweredby {
  display : none;
}

ul, ol {
  margin : 0 !important;
}

}

